.tfa_avatar_img_size32 {
  height: 32px !important;
  width: 32px !important;
  display: block !important;
  border-radius: 50% !important;
}

.tfa_avatar_img_size48 {
  height: 48px !important;
  width: 48px !important;
  display: block !important;
  border-radius: 10% !important;
}

.tfa_avatar_img_size96 {
  height: 96px !important;
  width: 96px !important;
  margin: 0px !important;
  display: block !important;
  border-radius: 10% !important;
}
