@import 'TfaTooltip';
.tfa_dropzone_img_size96 {
  height: 112px !important;
  padding: 0px !important;
  width: 100% !important;
  margin: 0px !important;
  display: block !important;
  text-align: center !important;
  border: dotted !important;
  background: rgb(240, 240, 240) !important;
}

.tfa_avatar_centered_img_size96 {
  height: 96px !important;
  width: 96px !important;
  display: block !important;
  border-radius: 10% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
