$fontSize: 14px;
@mixin tfa_btn_primary($margin) {
    background: rgb(63, 81, 181) !important;
    margin: $margin !important;
    text-transform: none !important;
    color: white !important;
    font-size: $fontSize !important;
}

@mixin tfa_btn_default($margin) {
    background: rgb(224, 224, 224) !important;
    margin: $margin !important;
    text-transform: none !important;
    color: black !important;
    font-size: $fontSize !important;
}

@mixin tfa_btn_disabled($margin) {
    background: rgb(224, 224, 224) !important;
    margin: $margin !important;
    text-transform: none !important;
    color: white !important;
    font-size: $fontSize !important;
}
