@import 'TfaAvatars';
@import 'TfaTooltip';
$fontSize: 16px;
$footerFontSize: 14px;
.tfa_comment_li {
    list-style-type: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

.tfa_comment_panel {
    width: 100% !important;
    padding: 8px 4px 0px 4px !important;
    margin: 0px !important;
    border-radius: 0px !important;
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
    border-bottom: solid 1px !important;
}

.tfa_comment_panel_left {
    position: relative !important;
    min-height: 1px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    float: left !important;
    width: 56px !important;
}

.tfa_comment_panel_right {
    position: relative !important;
    min-height: 1px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    float: left !important;
    width: 327px !important;
    color: black !important;
}

.tfa_comment_panel_right_header {
    padding-bottom: 5px !important;
    width: 327px !important;
    font-size: $fontSize !important;
}

.tfa_comment_panel_right_content {
    p {
        padding-bottom: 5px !important;
        width: 327px !important;
        word-wrap: break-word !important;
        white-space: pre-wrap !important;
        margin: 0px !important;
        font-size: $fontSize !important;
    }
}

.tfa_comment_panel_right_footer {
    padding-bottom: 5px !important;
    width: 327px !important;
    font-size: $footerFontSize !important;
}

.tfa_upvote_btn {
    color: grey !important;
    :hover {
        color: springgreen !important;
    }
}

.tfa_downvote_btn {
    color: grey !important;
    :hover {
        color: red !important;
    }
}

.tfa_upvote_downvote_btn_disabled {
  color: lightgrey !important;
  pointer-events: none !important;
}

.tfa_time_ago {
  float: right !important;
  color: lightgrey !important;
  font-size: $footerFontSize !important;
}

.tfa_link {
  color: #1DA1F2 !important;
  :hover {
      color: #1DA1F2 !important;
  }
}
