.tfa_tabs {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: none !important;
    border-color: none !important;
    :hover {
        color: black !important;
    }
    button {
        box-shadow: none !important;
    }
}

.tfa_tab {
    font-size: 16px !important;
    background: transparent !important;
    :hover {
        color: black !important;
    }
}
