.tfa_comment_list {
    margin: 0px !important;
    max-height: calc(100vh - 140px) !important;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-style: none !important;
}

.tfa_comment_list::-webkit-scrollbar {
    display: none !important;
}
