@import 'TfaAvatars';
@import 'TfaTooltip';
$fontSize: 14px;
$headerFontSize: 18px;
.current_persona_panel {
    border-top: solid 1px !important;
    border-right: transparent !important;
    border-left: transparent !important;
    border-bottom: solid 1px !important;
    border-radius: 0px !important;
    margin: 0px !important;
    height: auto !important;
    overflow: auto !important;
    padding: 8px !important;
    box-shadow: 0 4px 2px -2px gray !important;
}

.tfa_pending_message {
    float: right !important;
    text-transform: none !important;
    font-size: $fontSize !important;
    color: grey !important;
}

.current_persona_panel_disabled {
    border-top: solid 1px !important;
    border-right: transparent !important;
    border-left: transparent !important;
    border-bottom: solid 1px !important;
    border-radius: 0px !important;
    margin: 0px !important;
    height: auto !important;
    overflow: auto !important;
    padding: 8px !important;
    box-shadow: 0 4px 2px -2px gray !important;
    background-color: rgb(238, 238, 238) !important;
}

.current_persona_panel_content {
    padding: 0px !important;
}

.current_persona_panel_left {
    position: relative !important;
    float: left !important;
    margin: 0px !important;
    width: 112px !important;
}

.current_persona_panel_right {
    position: relative !important;
    float: left !important;
    margin: 0px !important;
    width: 272px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    text-transform: none !important;
    text-align: left !important;
    h4 {
        text-transform: none !important;
        font-size: $headerFontSize !important;
        color: black !important;
    }
    a {
        text-transform: none !important;
        font-size: $headerFontSize !important;
        color: black !important;
        :visited {
            color: black !important;
        }
    }
    p {
        text-transform: none !important;
        font-size: $fontSize !important;
        color: black !important;
    }
}

.current_persona_panel_right_disabled {
    position: relative !important;
    float: left !important;
    margin: 0px !important;
    width: 272px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    text-transform: none !important;
    text-align: left !important;
    h4 {
        text-transform: none !important;
        font-size: $headerFontSize !important;
        color: grey !important;
    }
    a {
        text-transform: none !important;
        font-size: $headerFontSize !important;
        color: grey !important;
        :visited {
            color: grey !important;
        }
    }
    p {
        text-transform: none !important;
        font-size: $fontSize !important;
        color: grey !important;
    }
}

.tfa_edit_current_persona_btn {
    float: right !important;
}
