@import 'tfaResetMixins';
$titleColor: rgb(156, 156, 156);
.tfa_dialog {
    @include nested-reset;
    padding: 8px !important;
    font-size: 22px !important;
}

.tfa_dialog_title {
    height: 48px !important;
    padding: 16px !important;
    box-sizing: border-box !important;
    margin-bottom: 8px !important;
    color: $titleColor !important;
    h2 {
      color:  $titleColor !important;
    }
}

.tfa_dialog_content {
    padding: 16px !important;
    box-sizing: border-box !important;
}

.tfa_dialog_content::-webkit-scrollbar {
    display: none !important;
}
