@import 'TfaAvatars';
@import 'TfaTooltip';

.tfa_header_panel {
    height: 48px !important;
    padding: 8px !important;
    margin: 0px !important;
    border-radius: 0px !important;
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
    box-sizing: border-box !important;
}

.tfa_header_panel_left {
    position: relative !important;
    min-height: 1px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    float: left !important;
    width: 29px !important;
    height: 29px !important;
}

.tfa_settings_button {
    background: white !important;
    text-align: left !important;
    margin-top: 0px !important;
    font-size: 16px !important;
    vertical-align: center !important;
    height: 29px !important;
    min-height: 29px !important;
    width: 29px !important;
    min-width: 29px !important;
    box-shadow: 0px 0px !important;
}

.tfa_header_panel_center {
    position: relative !important;
    min-height: 1px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    float: left !important;
    width: 314px !important;
    height: 29px !important;
    p {
        text-align: right !important;
        margin-top: 5px !important;
        font-size: 16px !important;
        vertical-align: center !important;
        height: 24px !important;
        color: black !important;
    }
}

.tfa_header_panel_right {
    position: relative !important;
    min-height: 1px !important;
    padding-right: 0px !important;
    padding-left: 8px !important;
    float: left !important;
    width: 32px !important;
}
