$headerFontSize: 20px;
$spanFontSize: 16px;
$backgroundColor: rgb(223, 240, 216);
$letterColor: rgb(60, 118, 61);
.tfa_notification {
    div {
        background: $backgroundColor !important;
    }
}

.tfa_notification_message {
    width: 376 px !important;
    background: $backgroundColor !important;
}

.tfa_fa_notification_icon {
    color: $letterColor !important;
    font-size: 20px !important;
    text-align: left !important;
    width: 20px !important;
    float: left !important;
}

.tfa_notification_header {
    padding: 8px !important;
    color: $letterColor !important;
    text-align: center !important;
    font-size: $headerFontSize !important;
}

.tfa_notification_content {
    padding: 8px !important;
    color: $letterColor !important;
    text-align: left !important;
    font-size: $spanFontSize !important;
}

.tfa_notification_action {
    background: $backgroundColor !important;
    padding: 8px !important;
    float: right !important;
    text-align: left !important;
    font-size: 30px !important;
    a {
        color: $letterColor !important;
        :hover {
            color: black !important;
        }
    }
}
