@import 'TfaDialog';
@import 'TfaButtons';
@import 'TfaTooltip';
$fontSize: 16px;
.tfa_name_input {
    padding-top: 8 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    margin: 0 !important;
    background: transparent !important;
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
    box-shadow: none !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    font-size: $fontSize !important;
    border: none !important;
    text-transform: none !important;
}

.tfa_form_control_name {
    margin-top: 5px !important;
}

.tfa_form_control_account {
    margin-top: 5px !important;
    text-transform: none !important;
}

.tfa_form_control_account_root {
    font-size: $fontSize !important;
    select {
        font-size: $fontSize !important;
        box-shadow: none !important;
    }
    textarea {
        box-shadow: none !important;
    }
}

.save_btn {
    @include tfa_btn_primary(8px 8px 8px 0px);
}

.save_btn_disabled {
    @include tfa_btn_disabled(8px 8px 8px 0px);
}

.close_btn {
    @include tfa_btn_default(8px 16px 8px 0px);
}

.tfa_avatar_selector_form_control {
    align-content: center !important;
}

.tfa_username_rules {
    color: $titleColor !important;
}

.tfa_username_rules_error {
    color: rgb(169, 68, 66) !important;
}

.tfa_select {
  select:disabled {
    background-color: transparent !important;
    color: currentColor !important;
  }
}
