@import 'tfaButtons';
.tfa_persona_management_button_panel {
    border: transparent;
    margin: 8px;
    text-align: right;
    box-shadow: none;
}

.tfa_btn_add_persona {
  @include tfa_btn_primary(8px 8px 8px 0px);
}

.tfa_btn_close {
  @include tfa_btn_default(8px 8px 8px 0px);
}
