.tfa_share_comment_panel_large {
    height: auto !important;
    overflow-y: auto !important;
    padding: 0px !important;
    margin-bottom: 8px !important;
    border-radius: 0px !important;
    border-top: transparent !important;
    border-right: transparent !important;
    border-bottom: transparent !important;
    border-left: transparent !important;
    box-sizing: border-box !important;
    box-shadow: none !important;
    resize: none !important;
    background-color: #E8F5FD !important;
    overflow-x: hidden;
}

.tfa_share_comment_panel_large_body {
    height: auto !important;
    overflow-y: auto !important;
    padding: 8px !important;
    width: 100% !important;
    overflow-x: hidden;
}
