@import 'TfaAvatars';
.tfa_share_comment_panel_large_left {
    position: relative !important;
    min-height: 1px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    float: left !important;
    width: 56px !important;
}
