@import 'TfaButtons';
$fontSize: 16px;
.tfa_share_comment_panel_large_right {
    position: relative !important;
    min-height: 1px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    float: left !important;
    width: 327px !important;
    height: auto !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.tfa_share_comment_panel_large_right_lower {
    position: relative !important;
    min-height: 1px !important;
    padding: 0px !important;
    float: left !important;
    width: 327px !important;
    text-align: right !important;
    resize: auto !important;
}

.share_button {
    @include tfa_btn_primary(8px 0px 0px 0px);
}

.share_button_disabled {
  @include tfa_btn_disabled(8px 0px 0px 0px);
}

.form_control_tfa_large_input {
    background: transparent !important;
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
    padding-top: 8px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.tfa_share_comment_large_input {
    padding-top: 8 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    margin: 0 !important;
    background: transparent !important;
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
    box-shadow: none !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    font-size: $fontSize !important;
    border: none !important;
}
