@import 'TfaTooltip';
$fontSizeTooltip: 12px;
$fontSizeComment: 16px;
$backgroundColor: #E8F5FD;
.tfa_share_comment_panel_small {
    height: 48px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    border-top: transparent !important;
    border-right: transparent !important;
    border-bottom: transparent !important;
    border-left: transparent !important;
    box-shadow: none !important;
    background-color: $backgroundColor !important;
    overflow: hidden !important;
}

.tfa_share_comment_panel_small_body {
    height: 48px !important;
    padding: 8px !important;
    margin: 0px !important;
}

.form_control_tfa_small_input {
    height: 32px !important;
    background: transparent !important;
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
}

.tfa_share_comment_small_input {
    padding: 0 !important;
    margin: 0 !important;
    height: 32px !important;
    background: transparent !important;
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
    box-shadow: none !important;
    font-size: $fontSizeComment !important;
}
