@import 'tfaResetMixins';
.tfa_side_nav {
    @include nested-reset;
    overflow: hidden !important;
    z-index: 2147483618 !important;
}

.tfa_drawer_paper {
    border-left: 1px solid #ddd !important;
    position: 'relative' !important;
    width: 401px !important;
    height: 100% !important;
    overflow: hidden !important;
    z-index: 2147483618 !important;
}
