@import 'TfaAvatars';
@import 'TfaTooltip';
$fontSize: 16px;
$accountFontSize: 14px;
$backgroundColorHover: #E8F5FD;
$backgroundColorDisabled: rgb(238, 238, 238);
.tfa_unselected_persona_li {
    list-style-type: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

.unselected_persona_panel {
    overflow: auto !important;
    height: auto !important;
    width: 100% !important;
    border-top: solid 1px !important;
    border-right: transparent !important;
    border-left: transparent !important;
    border-bottom: transparent !important;
    border-radius: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    :hover {
        background-color: $backgroundColorHover !important;
        cursor: pointer !important;
    }
}

.unselected_persona_panel_disabled {
    overflow: auto !important;
    height: auto !important;
    width: 100% !important;
    border-top: solid 1px !important;
    border-right: transparent !important;
    border-left: transparent !important;
    border-bottom: transparent !important;
    border-radius: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    background-color: $backgroundColorDisabled !important;
}

.unselected_persona_panel_content {
    padding: 0px !important;
    margin: 0px !important;
}

.unselected_persona_panel_card_action {
    margin: 0px !important;
    padding-left: 8px !important;
    padding-right: 0px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.unselected_persona_panel_left {
    position: relative !important;
    float: left !important;
    margin: 0px !important;
    width: 56px !important;
}

.unselected_persona_panel_right {
    position: relative !important;
    float: left !important;
    margin: 0px !important;
    width: 328px !important;
    padding-left: 0px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    text-align: left !important;
    font-size: $fontSize !important;
    color: black !important;
}
