.tfa_unselected_personas {
  margin: 0px !important;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: solid 1px !important;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  -ms-overflow-style: none !important;
  max-height: calc(100vh - 240px) !important;
}

.tfa_unselected_personas::-webkit-scrollbar {
  display: none !important;
}
